.loading_container {
  display: grid;
  background: #fff;
  height: 100vh;
  @media screen and (max-width: 550px) {
    background: url("../../../assets/images/main_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }
}
